.ready {
  background-image: url("../../assets/img/gplaypattern.png");
  background-repeat: repeat;
  .container {
    position: relative;
    ul {
      position: absolute;
      bottom: 15px;
      width: 100%;
      text-align: center;
      li {
        display: inline;
        list-style-type: none;
        padding: 5px;
        a {
          color: rgb(108, 99, 255);
        }
      }
    }
  }
}