.header {
  background: rgb(108, 99, 255);
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  a {
    color: rgb(181, 176, 255);
    text-decoration: none;
    span {
      color: rgb(181, 176, 255);
      font-style: italic;
    }
    &:hover, &.active {
      color: white;
      span {
        color: white;
      }
    }
  }

  ul {
    li {
      display: inline;
      list-style-type: none;
      padding: 5px;
    }

    @media (max-width: 767px) {
      width: 100%;
      text-align: center;
    }
  }
}