.header {
  background: rgb(108, 99, 255);
  a {
    color: white;
    font-weight: 300;
    &:hover, &.active {
      background: transparent;
      font-weight: normal;
    }
  }
  .navbar {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  span {
    color: white;
    font-style: italic;
  }
}