@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');
@import '../variables.scss';
@import '../icons.css';
@import '../../../../node_modules/bootstrap/dist/css/bootstrap.css';

* {
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
}

.default-template {

  h1, h2, h3, h4, h5, ul, ol, li {
    padding: 0;
    margin: 0;
  }

  .form-control, .btn, .panel {
    border-radius: 0;
  }

  .form-control {
    box-shadow: none;
  }
  img {
    width: 100%;
  }
  .large-text {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .small-text {
    text-align: center;
    padding-bottom: 20px;
  }

  .btn {
    background: rgb(108, 99, 255);
    color: white;
    box-shadow: none;
    transition: background-color 150ms;
    &:hover {
      background-color: rgb(77, 182, 172);
      color: white;
    }
  }
  span {
    color: rgb(108, 99, 255);
  }
  a {
    color: rgb(108, 99, 255);
    text-decoration: none !important;
    transition: color 150ms;
    :hover {
      color: rgb(77, 182, 172);
    }
  }
}