@font-face {
    font-family: 'icomoon';
    src:  url('../../assets/icons/icomoon.eot?1t6mfm');
    src:  url('../../assets/icons/icomoon.eot?1t6mfm#iefix') format('embedded-opentype'),
    url('../../assets/icons/icomoon.ttf?1t6mfm') format('truetype'),
    url('../../assets/icons/icomoon.woff?1t6mfm') format('woff'),
    url('../../assets/icons/icomoon.svg?1t6mfm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-envelop:before {
    content: "\e9f0";
}
.icon-envelop2:before {
    content: "\e9f1";
}
.icon-bubbles3:before {
    content: "\ea41";
}
.icon-flag3:before {
    content: "\eb18";
}
.icon-flag4:before {
    content: "\eb19";
}
.icon-thumbs-up2:before {
    content: "\eb42";
}
.icon-thumbs-down2:before {
    content: "\eb44";
}
.icon-thumbs-up3:before {
    content: "\eb45";
}
.icon-thumbs-down3:before {
    content: "\eb46";
}
.icon-enter2:before {
    content: "\eb99";
}
.icon-facebook:before {
    content: "\ec5c";
}
.icon-whatsapp:before {
    content: "\ec5f";
}
.icon-telegram:before {
    content: "\ec61";
}
.icon-twitter:before {
    content: "\ec62";
}
.icon-rss:before {
    content: "\ec67";
}
.icon-github:before {
    content: "\ec7c";
}
.icon-tumblr:before {
    content: "\ec85";
}
.icon-reddit:before {
    content: "\ec92";
}
.icon-linkedin2:before {
    content: "\ec96";
}