.article-page {
  .hero {

    padding-bottom: 60px;
    text-align: center;
    h1 {
      padding-bottom: 30px;
    }
    h4 {
      text-align: left;
      padding: 15px;
      background: white;
    }
  }

  .content {
    padding-bottom: 50px;
    .post-content {
      padding-top: 50px;
      padding-right: 25px;
      p, ul, ol {
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
        line-height: 26px;
        font-size: 16px;
      }
      ul, ol {
        padding-left: 35px;
      }
      blockquote {
        font-style: italic;
      }
      hr {
        border-top: 1px solid transparent;
      }
      h1, h2, h3, h4, h5 {
        padding-bottom: 5px;
        font-weight: bold;
      }
      h3, h4, h5 {
        padding-top: 10px;
      }

      :not(pre) > code[class*="language-"], pre[class*="language-"] {
        border-radius: 0;
        padding-left: 5px;
        padding-right: 5px;
      }

      pre[class*="language-"] {
        border-radius: 0;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  ul.share-buttons {
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
    li {
      display: inline;
      list-style-type: none;
      padding: 10px;
      font-size: 24px;
      div {
        display: inline-block;
        :hover {
          color: rgb(77, 182, 172);
        }
      }
    }
  }
}