.blog-page {

  .hero {

    padding-bottom: 60px;
    text-align: center;
    h1 {
      padding-bottom: 30px;
    }
    img {
      height: 96px;
    }

    .form-group {
      input {
        margin-top: 50px;
        height: 50px;
        font-size: 24px;
      }
    }
  }

  .posts {
    list-style-type: none;
    padding-top: 50px;
  }

  .blog-post-summary {

    a {
      color: rgb(108, 99, 255);
    }

    .media-object {
      width: 200px;
      min-height: 100px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    h3 {
      padding-bottom: 10px;
    }
  }

  .load-more {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
    .btn {
      height: 50px;
      font-size: 24px;
    }
  }
}